CONFIG_CMDLINE="consoleblank=0 console=/dev/null snd-hda-codec-hdmi.audio_id_reverse=0 intel_iommu=on,igfx_off iommu=pt pcie_acs_override=downstream zswap.enabled=1 zswap.compressor=lz4"
CONFIG_ACPI_IPMI=y
CONFIG_QND_QAT_DH895xCC=m
CONFIG_QND_ETH_MELLANOX_MLX=m
CONFIG_QND_ETH_MELLANOX_MLX_VERSION="5.3"
CONFIG_QND_ETH_BNXT_RE=m
CONFIG_QND_ETH_BNXT_RE_VERSION="218.0.39.0"
CONFIG_IRQ_POLL=y
CONFIG_NET_DROP_MONITOR=y
CONFIG_THUNDERBOLT=m
CONFIG_THUNDERBOLT_APPLE=m
CONFIG_THUNDERBOLT_ICM=m
CONFIG_USB_RTL8152=m
CONFIG_IPMI_HANDLER=y
# CONFIG_IPMI_PANIC_EVENT is not set
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_IPMI_SI=y
# CONFIG_IPMI_SI_PROBE_DEFAULTS is not set
# CONFIG_IPMI_SSIF is not set
# CONFIG_IPMI_WATCHDOG is not set
# CONFIG_IPMI_POWEROFF is not set
# CONFIG_SENSORS_IBMAEM is not set
# CONFIG_SENSORS_IBMPEX is not set
# CONFIG_SENSORS_VIA_CPUTEMP is not set
CONFIG_SENSORS_ZHAOXIN_CPUTEMP=y
CONFIG_DRM=y
# CONFIG_DRM_RADEON is not set
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_DP_AUX_CHARDEV=y
# CONFIG_DRM_I915 is not set
# CONFIG_DRM_I915_CAPTURE_ERROR is not set
# CONFIG_DRM_I915_COMPRESS_ERROR is not set
# CONFIG_DRM_I915_USERPTR is not set
# CONFIG_DRM_I915_GVT is not set
CONFIG_DRM_ZX=y

CONFIG_QND_GRAPHICS=y
CONFIG_QND_NVIDIA_DRM=m
CONFIG_QND_NVIDIA=m
CONFIG_QND_NVIDIA_MODESET=m
CONFIG_QND_NVIDIA_UVM=m
CONFIG_HIDRAW=y
CONFIG_HID_CP2112=y
CONFIG_HID_LOGITECH_DJ=y

CONFIG_IR_ITE_CIR=y
# CONFIG_IR_FINTEK is not set

# CONFIG_PSTORE_FTRACE is not set
CONFIG_NOP_TRACER=y
CONFIG_TRACE_CLOCK=y
CONFIG_RING_BUFFER=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_FTRACE=y
CONFIG_FUNCTION_TRACER=y
# CONFIG_FUNCTION_GRAPH_TRACER is not set
# CONFIG_IRQSOFF_TRACER is not set
# CONFIG_SCHED_TRACER is not set
# CONFIG_FTRACE_SYSCALLS is not set
# CONFIG_TRACER_SNAPSHOT is not set
CONFIG_BRANCH_PROFILE_NONE=y
# CONFIG_PROFILE_ANNOTATED_BRANCHES is not set
# CONFIG_PROFILE_ALL_BRANCHES is not set
# CONFIG_STACK_TRACER is not set
# CONFIG_BLK_DEV_IO_TRACE is not set
# CONFIG_KPROBE_EVENT is not set
# CONFIG_UPROBE_EVENT is not set
# CONFIG_PROBE_EVENTS is not set
# CONFIG_DYNAMIC_FTRACE is not set
# CONFIG_FUNCTION_PROFILER is not set
# CONFIG_FTRACE_STARTUP_TEST is not set
# CONFIG_MMIOTRACE is not set
# CONFIG_TRACEPOINT_BENCHMARK is not set
# CONFIG_RING_BUFFER_BENCHMARK is not set
# CONFIG_RING_BUFFER_STARTUP_TEST is not set
# CONFIG_TRACE_ENUM_MAP_FILE is not set
# CONFIG_KVM_MMU_AUDIT is not set
# CONFIG_DEBUG_PAGE_REF is not set
# CONFIG_HWLAT_TRACER is not set
# CONFIG_KPROBE_EVENTS is not set
# CONFIG_UPROBE_EVENTS is not set
# CONFIG_HIST_TRIGGERS is not set
# CONFIG_TRACE_EVAL_MAP_FILE is not set
# CONFIG_TRACING_EVENTS_GPIO is not set
CONFIG_BINARY_PRINTF=y
# CONFIG_ASYNC_RAID6_TEST is not set

CONFIG_QND_FC=y
# CONFIG_QND_ATTO_CELERITY is not set
# CONFIG_QND_ATTO_CELERITY_VERSION is not set
# CONFIG_QND_ATTO_LIO is not set
# CONFIG_QND_ATTO_LIO_VERSION is not set

CONFIG_LIBFC=m
CONFIG_SCSI_QLA_FC=m
CONFIG_TCM_QLA2XXX=m
CONFIG_BTREE=y

CONFIG_I2C_ZX=y
CONFIG_WDAT_WDT=y
# CONFIG_HW_RANDOM_VIA is not set
CONFIG_HW_RANDOM_ZHAOXIN=y
# CONFIG_SP5100_TCO is not set
# CONFIG_ITCO_WDT is not set

# CONFIG_SATA_ZHAOXIN is not set
CONFIG_CRYPTO_DEV_ZHAOXIN=y
CONFIG_CRYPTO_DEV_ZHAOXIN_AES=y
CONFIG_CRYPTO_DEV_ZHAOXIN_SHA=y

# CONFIG_LIBFCOE is not set
# CONFIG_TCM_QLA2XXX_DEBUG is not set
# CONFIG_TCM_FC is not set
# CONFIG_ATH_TRACEPOINTS is not set
# CONFIG_ATH10K_TRACING is not set
# CONFIG_IWLWIFI_DEVICE_TRACING is not set
# CONFIG_FB_INTEL is not set
# CONFIG_BOOTTIME_TRACING is not set
# CONFIG_SYNTH_EVENTS is not set
# CONFIG_TRACE_EVENT_INJECT is not set
# CONFIG_PREEMPTIRQ_DELAY_TEST is not set
