CONFIG_CMDLINE="consoleblank=0 console=ttyS0,115200n8 zswap.enabled=1 zswap.compressor=lz4 zswap.max_pool_percent=60 snd-hda-codec-hdmi.audio_limit_count=2 pcie_acs_override=downstream memmap=2M$0x8000000 ramoops.mem_address=0x8000000 ramoops.mem_size=0x200000 ramoops.console_size=0x100000"
#CONFIG_MCORE2=y
# CONFIG_GENERIC_CPU is not set

CONFIG_USB_RTL8152=m

CONFIG_QND_ETH_MELLANOX_MLX=m
CONFIG_QND_ETH_MELLANOX_MLX_VERSION="5.3"
CONFIG_QND_ETH_BNXT_RE=m
CONFIG_QND_ETH_BNXT_RE_VERSION="218.0.39.0"

#
# Media drivers
#
CONFIG_IR_LIRC_CODEC=y
CONFIG_IR_NEC_DECODER=y

# CONFIG_IR_HIX5HD2 is not set
CONFIG_IR_ITE_CIR=y
# CONFIG_IR_FINTEK is not set
# CONFIG_IR_GPIO_CIR is not set

CONFIG_DRM=y
# CONFIG_DRM_I915 is not set

CONFIG_DRM_AMD=y
# CONFIG_DRM_VM is not set
# CONFIG_DRM_SCHED is not set
CONFIG_DRM_RADEON=y
CONFIG_DRM_RADEON_USERPTR=y
CONFIG_DRM_AMDGPU=y
# CONFIG_DRM_AMDGPU_CIK is not set
CONFIG_DRM_AMDGPU_USERPTR=y
# CONFIG_DRM_AMDGPU_GART_DEBUGFS is not set
# CONFIG_DRM_AMD_POWERPLAY is not set

#
# ACP (Audio CoProcessor) Configuration
#
# CONFIG_DRM_AMD_ACP is not set

#
# Display Engine Configuration
#
CONFIG_DRM_AMD_DC=y
CONFIG_DRM_AMD_DC_DCN=y
# CONFIG_DRM_AMD_DC_DCN3_0 is not set
# CONFIG_DRM_AMD_DC_HDCP is not set
# CONFIG_DRM_AMD_DC_SI is not set
# CONFIG_HSA_AMD is not set

# CONFIG_DRM_AMD_DC_DSC_SUPPORT is not set
# CONFIG_DEBUG_KERNEL_DC is not set
# CONFIG_ZRAM_MEMORY_TRACKING is not set

CONFIG_DRM_AMD_DAL=y
CONFIG_DRM_AMD_DAL_VBIOS_PRESENT=y
CONFIG_DRM_AMD_DAL_DCE8_0=y
CONFIG_DRM_AMD_DAL_DCE10_0=y
CONFIG_DRM_AMD_DAL_DCE11_0=y
# CONFIG_DRM_AMD_DAL_DCE11_2 is not set
CONFIG_DEBUG_KERNEL_DAL=y

CONFIG_CRYPTO_AES_X86_64=y

# CONFIG_ASYNC_RAID6_TEST is not set

CONFIG_QND_ETH_REALTEK=y
CONFIG_QND_ETH_R8168E=m
CONFIG_QND_ETH_R8168E_VERSION="8.048.03"
CONFIG_QND_SAS_MV=m
CONFIG_QND_SAS_MV_VERSION="6.0.0.1009N"

# CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y

CONFIG_HW_RANDOM_AMD=y
# CONFIG_INTEL_IOMMU is not set
# CONFIG_INTEL_IOMMU_DEFAULT_ON is not set
# CONFIG_ITCO_WDT is not set
# CONFIG_PM_DEBUG is not set
# CONFIG_PM_SLEEP_DEBUG is not set
# CONFIG_PM_TRACE is not set
# CONFIG_PM_TRACE_RTC is not set
# CONFIG_AGP_INTEL is not set

# CONFIG_MMC_SDHCI is not set
# CONFIG_MMC_SDHCI_PCI is not set
# CONFIG_MMC_RICOH_MMC is not set
# CONFIG_MMC_SDHCI_ACPI is not set
# CONFIG_MMC_WBSD is not set
# CONFIG_MMC_TIFM_SD is not set

# CONFIG_X86_PLATFORM_DEVICES is not set
# CONFIG_INTEL_IPS is not set

# CONFIG_PVPANIC is not set
# CONFIG_CLKDEV_LOOKUP is not set
# CONFIG_HAVE_CLK_PREPARE is not set
# CONFIG_COMMON_CLK is not set

# CONFIG_ARCH_HAS_DEBUG_STRICT_USER_COPY_CHECKS is not set
# CONFIG_USER_STACKTRACE_SUPPORT is not set
# CONFIG_HAVE_FUNCTION_TRACER is not set
# CONFIG_HAVE_FUNCTION_GRAPH_TRACER is not set
# CONFIG_HAVE_FUNCTION_GRAPH_FP_TEST is not set
# CONFIG_HAVE_DYNAMIC_FTRACE is not set
# CONFIG_HAVE_DYNAMIC_FTRACE_WITH_REGS is not set
# CONFIG_HAVE_FTRACE_MCOUNT_RECORD is not set
# CONFIG_HAVE_SYSCALL_TRACEPOINTS is not set
# CONFIG_HAVE_FENTRY is not set
# CONFIG_HAVE_C_RECORDMCOUNT is not set
# CONFIG_TRACING_SUPPORT is not set

CONFIG_ZSMALLOC=y
# CONFIG_PGTABLE_MAPPING is not set
# CONFIG_ZSMALLOC_STAT is not set

CONFIG_ZRAM=y
CONFIG_ZRAM_WRITEBACK=y

# CONFIG_PERF_EVENTS_INTEL_UNCORE is not set
# CONFIG_PROCESSOR_SELECT is not set
# CONFIG_CPU_SUP_INTEL is not set
CONFIG_PROCESSOR_SELECT=y
# CONFIG_CPU_SUP_INTEL is not set
# CONFIG_CPU_SUP_CENTAUR is not set
# CONFIG_PCIEASPM_DEFAULT is not set
CONFIG_PCIEASPM_PERFORMANCE=y
# CONFIG_KVM_INTEL is not set
CONFIG_X86_AMD_PLATFORM_DEVICE=y

# CONFIG_AMD_IOMMU is not set
# CONFIG_AMD_IOMMU_STATS is not set
# CONFIG_AMD_IOMMU_V2 is not set

# CONFIG_X86_MCE_AMD is not set
# CONFIG_MICROCODE_AMD is not set
# CONFIG_AGP is not set
# CONFIG_AGP_AMD64 is not set
# CONFIG_DRM_AMDGPU_SI is not set
# CONFIG_DRM_AMDGPU_CIK is not set

CONFIG_LIBFC=m
CONFIG_SCSI_QLA_FC=m
CONFIG_TCM_QLA2XXX=m
CONFIG_BTREE=y
# CONFIG_LIBFCOE is not set
# CONFIG_TCM_QLA2XXX_DEBUG is not set
# CONFIG_TCM_FC is not set
