# Linux/x86 5.10.14 Kernel Configuration
CONFIG_CMDLINE="consoleblank=0 console=ttyS0,115200n8 intel_iommu=on,igfx_off i915.enable_hd_vgaarb=1 iommu=pt i915.disable_power_well=0 i915.enable_guc=2 memmap=2M$0x8000000 ramoops.mem_address=0x8000000 ramoops.mem_size=0x200000 ramoops.console_size=0x100000 usbcore.autosuspend=-1 zswap.enabled=1 zswap.compressor=lz4 pcie_port_pm=off"
# CONFIG_ACPI_PROCESSOR is not set
# CONFIG_ACPI_HOTPLUG_CPU is not set
# CONFIG_ACPI_PROCESSOR_AGGREGATOR is not set
CONFIG_QND_ETH_BNXT_RE=m
CONFIG_QND_ETH_BNXT_RE_VERSION="218.0.39.0"
CONFIG_QND_THUNDERBOLT_ICM=m
# CONFIG_QND_THUNDERBOLT_ICM_PROBE_DELAY is not set
CONFIG_IRQ_POLL=y
# CONFIG_QND_ETH_IXGBE is not set
# CONFIG_QND_ETH_I40E is not set
CONFIG_QND_BIOS_SERIES_GPIO=m
CONFIG_USB4=m
# CONFIG_USB4_DEBUGFS_WRITE is not set
CONFIG_APPLE_PROPERTIES=y
CONFIG_EFI_DEV_PATH_PARSER=y
CONFIG_USB4_NET=m
# CONFIG_QND_ICFS is not set
CONFIG_QND_INTEL_LPC_WA=y
# CONFIG_QND_ETH_IGC is not set
CONFIG_QND_ETH_MELLANOX_MLX=m
CONFIG_QND_ETH_MELLANOX_MLX_VERSION="5.3"
CONFIG_QND_ETH_REALTEK=y
CONFIG_QND_ETH_R8168E=m
CONFIG_QND_ETH_R8168E_VERSION="8.048.03"
CONFIG_USB_RTL8152=m
CONFIG_KEYBOARD_GPIO=y
# CONFIG_INPUT_SOC_BUTTON_ARRAY is not set
CONFIG_PINMUX=y
CONFIG_PINCONF=y
CONFIG_GENERIC_PINCONF=y
CONFIG_PINCTRL_INTEL=y
CONFIG_PINCTRL_BROXTON=y
CONFIG_GPIOLIB_IRQCHIP=y
# CONFIG_INTEL_SOC_PMIC_CHTWC is not set
CONFIG_IR_ITE_CIR=y
# CONFIG_IR_FINTEK is not set
# CONFIG_DRM_RADEON is not set
CONFIG_DRM_I915_GVT=y
CONFIG_INTEL_PMC_IPC=y
CONFIG_APPLE_PROPERTIES=y
CONFIG_EFI_DEV_PATH_PARSER=y
# CONFIG_ASYNC_RAID6_TEST is not set
CONFIG_IRQ_POLL=y

CONFIG_QND_FC=y
# CONFIG_QND_ATTO_CELERITY is not set
# CONFIG_QND_ATTO_CELERITY_VERSION is not set
# CONFIG_QND_ATTO_LIO is not set
# CONFIG_QND_ATTO_LIO_VERSION is not set

CONFIG_LIBFC=m
CONFIG_SCSI_QLA_FC=m
CONFIG_TCM_QLA2XXX=m
# CONFIG_LIBFCOE is not set
# CONFIG_TCM_QLA2XXX_DEBUG is not set
# CONFIG_TCM_FC is not set
CONFIG_BTREE=y
#
# Gasket devices
#
CONFIG_STAGING_GASKET_FRAMEWORK=m
CONFIG_STAGING_APEX_DRIVER=m
CONFIG_MFD_INTEL_PMC_BXT=y

CONFIG_SCHED_MC_PRIO=y
CONFIG_ACPI_CPPC_LIB=y
# CONFIG_UCLAMP_TASK is not set
# CONFIG_LIBFCOE is not set
# CONFIG_TCM_QLA2XXX_DEBUG is not set
# CONFIG_TCM_FC is not set
# CONFIG_INTEL_SOC_PMIC_BXTWC is not set
