name: Tar modules

on:
  release:
    types: [published]

  workflow_dispatch:

jobs:
  tar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: "â­ Install prerequisites"
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential bc curl git zip ftp gcc-aarch64-linux-gnu gcc-arm-linux-gnueabi libssl-dev lftp zstd wget libfl-dev python2 python3 libarchive-tools

      - name: "* Compile modules"
        run: |
         echo "Path : `$PWD`"
         ls -ls
         ls /
         ls ~/
         pwd

      - name: Tar modules
        run: |
          for D in `ls -d *-*`; do
            (cd ${D} && tar caf ../${D}.tgz *.ko && sha256sum ../${D}.tgz >> ../chksum.log)
          done
          #(cd src/firmware && tar caf ../../firmware.tgz *)

      # Publish a release if is a tag
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            *.tgz
            chksum.log
            
